.contact-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 0 !important;
	margin-top: rem-calc(-25);

	a {
		color: black !important;
	}
}

.contact-info {
	font-size: rem-calc(25);
}
