.feature-list {
	margin-left: rem-calc(50) !important;
	padding-bottom: rem-calc(20);

	.feature-text {
		font-size: rem-calc(20);
		padding: rem-calc(5);
	}
}

h1,
h2 {
	font-family: "Quicksand", sans-serif;
	font-weight: 700;
}

.package-price {
	float: right;
}

.package-wrapper {
	padding-top: rem-calc(40);
}
