/* stylelint-disable-next-line no-empty-source */
footer {
	margin-top: rem-calc(50);
	width: 100%;
	background: black;
	color: white;
	padding-bottom: rem-calc(20);

	.footer-icons > a {
		color: white;
	}
}
