.page-hero {
	color: $white;

	.hero-container {
		background-size: cover;
		background-position: center;
		height: rem-calc(300);
		padding: rem-calc(20 0);
		display: flex;
		align-items: center;

		@include breakpoint(medium up) {
			padding: rem-calc(85 0);
			width: 100%;
			top: 0;
			z-index: -10;
			height: rem-calc(850);
		}

		@include breakpoint(large up) {
			position: absolute;
		}
	}

	.mini-hero-container {

		padding-bottom: 0;
		margin-bottom: rem-calc(40);

		@include breakpoint(medium up) {
			height: rem-calc(500);
		}

		.mini-hero-text-styling {
			align-self: flex-end;

			 h3 {
				 background: rgba(0, 0, 0, 0.5);
			 }
		}
	}

	h3 {
		font-family: $body-font-family;
		text-align: center;
		color: $white;
		margin: 0 rem-calc(35);
		font-size: rem-calc(30);

		@include breakpoint(medium up) {
			margin: rem-calc(130) rem-calc(60) 0 rem-calc(60);
			line-height: rem-calc(90);
			font-size: rem-calc(64);
		}
	}
}
